* {
  box-sizing: border-box;
}
:root {
  --blue: #5e81d1;
  --orange: #f87500;
  --lightorange: #ff8d27;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
}
header > p {
  padding-left: 5px;
  font-size: 20px;
}
.list--links {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-size: 12px;
  gap: 5px;
}
.link--to-index > a {
  text-decoration: none;
}
.link--to-list > a {
  font-weight: bold;
  text-decoration: none;
}
section {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange);
}
section > p {
  font-size: 20px;
  text-align: end;
  padding: 20px;
}
.button--plus,
.button--minus {
  margin: 20px;
}
main {
  flex: 18;
  background-color: var(--lightorange);
}
.list--items-of-list {
  margin: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
}
.list--items-of-list > li:nth-child(1) {
  flex: 1;
}
.list--items-of-list > li:nth-child(2) {
  flex: 8;
}
.list--items-of-list > li:nth-child(3) {
  flex: 1;
}
.list--items-of-list > li:nth-child(4) {
  flex: 1;
}
.list--items-of-list > li:nth-child(2) li:nth-child(2n + 1) {
  text-decoration: line-through;
}
.list--cubes,
.list--food,
.list--prices,
.list--cross-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list--cubes div {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #000;
}
.text--final-price {
  text-align: end;
  flex: 1;
  margin: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
section img {
  height: 30px;
  width: 30px;
  background-color: transparent;
}
section > button {
  height: 30px;
  width: 30px;
  padding: 0;
  border: 0;
  background-color: var(--orange);
}
.block--main-list img {
  height: 20px;
  width: 20px;
  background-color: transparent;
}
.block--main-list button {
  height: 20px;
  width: 20px;
  padding: 0;
  border: 0;
  flex: 1;
  background-color: var(--lightorange);
}
.block--main-index > p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  gap: 10px;
}
label {
  font-size: 16px;
}
input {
  height: 45px;
  width: 180px;
}
.block--input-price {
  display: flex;
  flex-direction: row;
}
.button--modifier {
  margin-left: 20px;
  height: 45px;
  width: 80px;
  color: #fff;
  background-color: #5e81d1;
  border: none;
}
