* {
  box-sizing: border-box;
}
:root {
  --blue: #5e81d1;
  --orange: #f87500;
  --lightorange: #ff8d27;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
}
header > p {
  flex: 2;
}
.list--links {
  list-style: none;
  display: flex;
  flex: 1;
}
.button--minus {
  size: 5px;
}
